<app-configuration-group>
  <div title>{{title}}</div>
  <div description>{{description}}</div>
  <div fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
    <button mat-button mat-raised-button color="primary" (click)="openDialogManageDNSServers()" style="margin: 5px;">{{buttonTextManageDNSServers}}</button>
    <button mat-button mat-raised-button color="primary" (click)="openDialogManageUsers()" style="margin: 5px;">{{buttonTextManageUsers}}</button>
    <button mat-button mat-raised-button color="primary" (click)="openDialogChangePassword()" style="margin: 5px;">{{buttonTextChangePassword}}</button>
    <button mat-button mat-raised-button color="primary" (click)="openDialogImExportConfig()" style="margin: 5px;">{{buttonTextImExportConfig}}</button>
  </div>
</app-configuration-group>
