<hr>
<b>Change Password</b>
<br />
<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-xs="70" fxFlexFill>
    <mat-form-field style="margin: 5px; min-width: 400px">
      <mat-label>{{ oldPasswordLabel }}</mat-label>
      <input matInput [placeholder]="oldPasswordPlaceholder" [formControl]="oldPassword" type="password" />
      <mat-error *ngIf="oldPassword.invalid">{{
        getOldPasswordMessage()
      }}</mat-error>
      <mat-hint>{{ oldPasswordHint }}</mat-hint>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-xs="70" fxFlexFill>
    <mat-form-field style="margin: 5px; min-width: 400px">
      <mat-label>{{ newPasswordLabel }}</mat-label>
      <input matInput [placeholder]="newPasswordPlaceholder" [formControl]="newPassword" type="password" />
      <mat-error *ngIf="newPassword.invalid">{{
        getNewPasswordMessage()
      }}</mat-error>
      <mat-hint>{{ newPasswordHint }}</mat-hint>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-xs="70" fxFlexFill>
    <mat-form-field style="margin: 5px; min-width: 400px">
      <mat-label>{{ confirmNewPasswordLabel }}</mat-label>
      <input matInput [placeholder]="confirmNewPasswordPlaceholder" [formControl]="confirmNewPassword" type="password" />
      <mat-error *ngIf="confirmNewPassword.invalid">{{
        getConfirmNewPasswordMessage()
      }}</mat-error>
      <mat-hint>{{ confirmNewPasswordHint }}</mat-hint>
    </mat-form-field>
  </div>
</div>
<div fxLayout="row">
  <button
  mat-raised-button
  color="primary"
  style="margin: 5px"
  (click)="onClickChangePassword()"
  [disabled]="!this.oldPassword.valid || !this.newPassword.valid || !this.confirmNewPassword.valid"
>
  {{ buttonText }}
</button>
</div>
