<div
  *ngIf="
    chartOptions.series &&
    chartOptions.chart &&
    chartOptions.xaxis &&
    chartOptions.dataLabels &&
    chartOptions.grid &&
    chartOptions.stroke &&
    chartOptions.title &&
    chartOptions.tooltip
  "
>
  <apx-chart
    #chart
    class="chart"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</div>
