
.formDiv {
  align-items: center !important;
  justify-content: center !important;
}

.formDivButton {
  justify-content: right !important;
  text-align: right !important;
}

.formElement {
  width: 100%;
  margin: 5px;
}
