<app-configuration-group>
  <div title>{{title}}</div>
  <div description>{{description}}</div>
  <div fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
    <button mat-button mat-raised-button color="primary" (click)="openDialogManagePlugins()" style="margin: 5px;">{{managePluginsButtonText}}</button>
    <button mat-button mat-raised-button color="primary" (click)="openDialogListPlugins()" style="margin: 5px;">{{listPluginsButtonText}}</button>
  </div>
</app-configuration-group>
