<div>
  <b>Server</b>&nbsp;
  <b>Memory Stats</b>&nbsp;Physical:&nbsp;{{find("memory_stats", "physical")}} GB&nbsp;Virtual:&nbsp;{{find("memory_stats", "virtual")}} GB&nbsp;
  <b>Memory Usage</b>&nbsp;Total:&nbsp;{{find("memory_usage", "mem_total")}} GB&nbsp;Free:&nbsp;{{find("memory_usage", "mem_free")}} GB&nbsp;Available:&nbsp;{{find("memory_usage", "mem_avail")}} GB&nbsp;
  <b>Load Average</b>&nbsp;{{find("load_average", "load_one")}}/{{find("load_average", "load_five")}}/{{find("load_average", "load_fifteen")}}
</div>
