.heading {
  width: 100%;
  display: flex;
  align-content: center ;
}

.heading > div {
  flex-grow: 1;
  vertical-align: middle;
  background-color: lightgray;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stats_label {
  text-align: right;
  margin-right: 5px;
}
.stats_values {
  margin-left: 5px;
  text-align: left;
}

.status {
  display: flex;
}

.serverIndicator {
  margin-left: 60px;
}

