<form [formGroup]="form" (keyup.enter)="onClickLogin()">
<div  class="centered">
  <div fxLayout="row">
    <div fxFlex="100" class="formHeading">
        <h2>Login</h2>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDiv">
      <mat-form-field class="formElement">
        <mat-label>{{ userIdLabel }}</mat-label>
        <input
          matInput
          [placeholder]="userIdPlaceholder"
          [formControl]="userId"
        />
        <mat-error *ngIf="userId.invalid">{{ getErrorMessagUserId() }}</mat-error>
        <mat-hint>{{ userIdHint }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDiv">
      <mat-form-field class="formElement">
        <mat-label>{{ passwordLabel }}</mat-label>
        <input
          matInput
          type="password"
          [placeholder]="passwordPlaceholder"
          [formControl]="password"
        />
        <mat-error *ngIf="password.invalid">{{ getErrorMessagPassword() }}</mat-error>
        <mat-hint>{{ passwordHint }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div>
  <div fxLayout="row" *ngIf="this.form.invalid">
    <div fxFlex="100" class="formDiv appError">
      {{ getLoginMessage() }}
    </div>
  </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDivButton">
      <button
      mat-raised-button
      color="primary"
      [disabled]="password.invalid || userId.invalid"
      (click)="onClickLogin()"
    >
      {{ buttonTextLogin}}
    </button>
    </div>
  </div>
</div>
</form>
