<div fxLayout="row">
  <div fxFlex="100" style="align-items: center; justify-content: center">
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      (click)="onClickSaveDisabledPlugins()"
    >
      {{ buttonTextDisablePlugins }}
    </button>
  </div>
</div>
<div *ngIf="plugins$">
  <table mat-table [dataSource]="plugins$" class="mat-elevation-z8">
    <ng-container matColumnDef="disable">
      <th mat-header-cell *matHeaderCellDef>
        <span
          (click)="onClickSelectAll()"
          (keyup.enter)="onClickSelectAll()"
          role="region"
          style="cursor: pointer"
          >{{ selectAll ? "&#9745;" : "&#9744;" }}</span
        >&nbsp;&nbsp;Disable
      </th>
      <td mat-cell *matCellDef="let plugin">
        <div
          (click)="onClickSelectPlugin(plugin)"
          (keyup.enter)="onClickSelectPlugin(plugin)"
          role="region"
          style="cursor: pointer"
        >
          {{ (isDisabled(plugin) | async) ? "&#10003;" : "&#10005;" }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let plugin">{{ plugin.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
