<hr />
<b>Delete Feature</b>
<br />
<div fxLayout="row">
  <div fxFlex="100" style="align-items: center; justify-content: center">
    <mat-form-field style="margin: 5px; min-width: 200px">
      <mat-label>Server</mat-label>
      <mat-select
        [(ngModel)]="selectedServer"
        (ngModelChange)="onChangeServer()"
      >
        <mat-option
          *ngFor="let server of serversWithFeatures$ | async"
          [value]="server"
          >{{ server.ipaddress }}
          {{ server.name == "" ? "" : "(" + server.name + ")" }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin: 5px; min-width: 200px">
      <mat-label>Feature</mat-label>
      <mat-select [(ngModel)]="selectedFeature">
        <mat-option *ngFor="let feature of features" [value]="feature">{{
          feature.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      (click)="removeFeatureFromServer()"
      [disabled]="!this.selectedServer || !this.selectedFeature"
    >
      {{ buttonTextDeleteFeature }}
    </button>
  </div>
</div>
<hr />
<b>Delete Server</b>
<br />
<div fxLayout="row">
  <div fxFlex="100" style="align-items: center; justify-content: center">
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      (click)="onClickDeleteServers()"
      [disabled]="serversSelected() === 0"
    >
      {{ buttonTextDeleteServers }}
    </button>
  </div>
</div>

<div fxLayout="row">
  <div *ngIf="servers$">
    <table mat-table [dataSource]="servers$" class="mat-elevation-z8">
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          <span (click)="onClickSelectAll()" style="cursor: pointer">{{
            selectAll ? "&#9745;" : "&#9744;"
          }}</span
          >&nbsp;&nbsp;Delete
        </th>
        <td mat-cell *matCellDef="let server">
          <div (click)="onClickSelectServer(server)" style="cursor: pointer">
            {{ isSelected(server) ? "&#9745;" : "&#9744;" }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="ipaddress">
        <th mat-header-cell *matHeaderCellDef>IP</th>
        <td mat-cell *matCellDef="let server">{{ server.ipaddress }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let server">{{ server.name }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
