<hr>
<h3>Energy</h3>
<table style="border: 0px;">
    <tbody>
        <tr>
            <td style="width: 150px; text-align: right; margin: 5px;">Today:</td>
            <td style="width: 100px; text-align: right; margin: 5px;">{{ this.EnergyToday.Today }} kWh</td>
        </tr>
        <tr>
            <td style="width: 150px; text-align: right; margin: 5px;">Yesterday:</td> 
            <td style="width: 100px; text-align: right; margin: 5px;">{{ this.EnergyToday.Yesterday }} kWh</td>
        </tr>
    </tbody>
</table>