<h3>Status</h3>
Status: {{#if (eq this.status "enabled") }}<div style="height:10px; width: 10px; border-radius: 50%; display: inline-block; border: 1px solid black; background-color: green;"></div> {{else}}<div style="height:10px; width: 10px; border-radius: 50%; display: inline-block; border: 1px solid black; background-color: red;"></div> {{/if}} <br>
Last Gravity update {{this.gravity_last_updated.relative.days}}d&nbsp;{{this.gravity_last_updated.relative.hours}}h&nbsp;{{this.gravity_last_updated.relative.minutes}}
<hr>
<h3>Clients</h3>
Clients seen: {{this.clients_ever_seen}}<br>
Unique Clients: {{this.unique_clients}}<br>
<hr>
<h3>Domains</h3>
Domains blocked: {{this.domains_being_blocked}}<br>
Unique Domains: {{this.unique_domains}}<br>
<hr>
<h3>Queries</h3>
Queries cached: {{this.queries_cached}}<br>
Queries forwarded: {{this.queries_forwarded}}<br>
<hr>
<h3>Todays stats</h3>
DNS queries today: {{this.dns_queries_today}}<br>
Ads blocked today: {{this.ads_blocked_today}}<br>
Ads percentage today: {{this.ads_percentage_today}}<br>