<div  class="centered">
  <div fxLayout="row">
    <div fxFlex="100" class="formHeading">
        <h2>Register a new user</h2>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDiv">
      <mat-form-field class="formElement">
        <mat-label>{{ userIdLabel }}</mat-label>
        <input
          matInput
          [placeholder]="useridPlaceholder"
          [formControl]="userId"
        />
        <mat-error *ngIf="userId.invalid">{{ getUserIdMessage() }}</mat-error>
        <mat-hint>{{ userIdHint }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDiv">
      <mat-form-field class="formElement">
        <mat-label>{{ fullNameLabel }}</mat-label>
        <input matInput [placeholder]="fullNamePlaceholder" [formControl]="fullName" />
        <mat-error *ngIf="fullName.invalid">{{
          getFullNameMessage()
        }}</mat-error>
        <mat-hint>{{ fullNameHint }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDiv">
      <mat-form-field class="formElement">
        <mat-label>{{ emailLabel }}</mat-label>
        <input matInput [placeholder]="emailPlaceholder" [formControl]="email" />
        <mat-error *ngIf="email.invalid">{{
          getEmailMessage()
        }}</mat-error>
        <mat-hint>{{ emailHint }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" class="formDivButton">
      <button
      mat-raised-button
      color="primary"
      [disabled]="email.invalid || fullName.invalid"
      (click)="onClickSave()"
    >
      {{ buttonText }}
    </button>
    </div>
  </div>
</div>
